body {
	overflow: auto;
}
.st-container > input{
	display: none;
}
.st-container a {
background-color: #000000;
}
.st-panel{
	background-color: #00A095;
}
.contenedor2 article{
	margin-top: 10px;
	width: 45%;
	position: relative;
	display: inline-block;
	vertical-align: top;

	background: #99ccff;
	padding: 1%;
	border: inset 1px #000000;
	
}